body {
  margin: 0;
  background-color: black;
  font-family: sans-serif;
}

#subredditSelector {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  filter: opacity(30%);
  transition: 0.2s;
}

#subredditSelector:hover {
  filter: opacity(100%);
}

.fullscreenContainer {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#videoReel {
  position: relative;
  width: 100%;
  height: 100%;
}

#videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#videoContainer > video {
  min-width: 0;
}

#controls {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 20rem;
  background-color: darkgrey;
  filter: opacity(40%);
  transition: 0.2s;
  transform: translateY(calc(-100% + 5rem));
  padding: 1rem;
}

#controls > #settings {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2rem;
}

#info {
  position: sticky;
  height: 3rem;
}

#controls > #settings > label {
  user-select: none;
}

#controls:hover {
  filter: opacity(100%);
  transform: translateY(0%);
}
